#scrolly {
    position: relative;
}

article {
    position: relative;
    padding: 0 1rem;
    margin: 0 auto;
    width: 90%;
}

.step {
    margin: 2rem auto 4rem auto;
    background-color: #3b3b3b;
    color: #fff;
}

.step.is-active {
    background-color: rgb(201, 201, 201);
    color: #3b3b3b;
}

.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

#map {
    height: 600px;
}
